{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="field">
    <label class="label">Username</label>
    <div class="control">
        <input class="input" type="text" placeholder="Enter your username">
    </div>
    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="password" placeholder="Enter your password">
    </div>
    <div class="control" style="margin-top: 1em;">
        <button class="button is-link">Log In</button>
</div>
{% endblock %}